.productCard{
    box-sizing: border-box;
    border: 2px solid black;
    display:flex;
    flex-direction:column;
    width:440px;
    height:700px;
}

.image{
    padding-left:35px;
    display:flex;
    float: left;
    width:  350px;
    height: 300px;
    background-size: cover; 
    justify-content:center;
    align-items:center;
    padding-top:10px;
}

.priceAndCategory{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px; 
    margin-top:-20px;
    margin-bottom:-30px;
}

.name{
    display:flex;
    box-sizing: border-box;
    border: 0.25px solid black;
    /* height:50px; */
    /* align-items: center; */
    justify-content:center;
    overflow: hidden;
}

.star{
    height:18px;
    width:20px;
}
.starData{
    display:flex;
}

.nameBox{
    display:flex;
    box-sizing: border-box;
    border: 0.25px solid black;
    height:70px;
    /* align-items: center; */
    justify-content:center;
    overflow: scroll;
}
.description{
    height:250px;
    overflow:scroll
}